{
  "auth_audience": "",
  "auth_domain": "",
  "auth_url": "",
  "auth_client_id": "",
  "auth_client_secret": "",
  "auth_username": "",
  "auth_password": "",
  "auth_scope": "",
  "domain": "localhost:1234"
}
